out/
*.o
*.a
*.so
.cproject
.project
.settings/
*.swp
/Debug/

# Bazel
bazel-bin
bazel-out
bazel-testlogs
bazel-gor_make
.module_cache

# Build artifacts from demo projects
demos/*/build/
demos/*/out/
*.d
*.o
*.a
